* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow-x: hidden;


}

nav {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(51, 49, 49);
}
nav img {
  padding: 10px;
  width: 100px;
}
.logo {
  width: 30vw;
  margin: auto;
}
.navbar {
  margin: auto;
  /* background-color: aqua; */
  width: 60vw;
}
.navbar a {
  text-decoration: none;
  color: white;
  padding: 20px;
}
.navbar a:hover{
    text-decoration: underline;
}

.main_section{
    padding: 20px;
    height: 30vw;
    margin: auto;
    width: 70vw;
    /* background-color: aqua; */
}
.main {
  padding: 30px;
  text-align: center;
  margin: auto;
  width: 50vw;
  background-color: rgb(62, 60, 60);
}
.main img {
  width: 200px;
}


.html_main{
  padding: 2px;
  display: flex;
  width: 100vw;
  height: 100vh;
  /* background-color: aqua; */
  color: white;
  
}
.html_main .left{
  
  color: white;
    padding: 30px;
    width: 20vw;
    background-color: rgb(62, 60, 60);
}
.left a{
    text-decoration: none;
    color: white;
    
}

.main_content{
  padding: 20px;
  color: black;
}

.html_main .right .imglogo{
/* background-color: aqua; */
/* background-image: url('HTML5_logo.png');
background-repeat: no-repeat; */
text-align: center;    
width: 80vw;
}
.right img{
    padding: 30px;
    width: 300px;
    height: 300px;
}

.left ul li{
    padding: 10px;
}




